# --- Secretos ---
.env

# --- Datos RAW (Estos NO se suben) ---
*.tsv
*.csv
*.pkl

# --- Base de Datos (ESTA SÍ SE SUBE EN DEPLOY) ---
# Comentamos la línea para permitir subirla, o ponemos !
!bacon.db

# --- Python basura ---
__pycache__/
venv/

visualizaciones/
raw/